@import '../../scss/utils/variables';
@import '../../scss/utils/mixins';

.container {
	display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.montsterrat{
    font-family: 'Montsterrat';
}

.m2{
    margin: 0.4rem;
}

.card{
    width: 22rem;
    background: rgba(19, 17, 29, 0.36);
    padding: 1rem;
    margin: 3rem;
    border-radius: 5%;
}

.text_container{
    width: 70%;
}

.photo{
    height: 100%;
}
